*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    margin: 0;
    min-height: 100vh;
}

.crousel{
    width: 500px;
    height: 500px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.image-container{
    display: flex;
    transition: transform 0.3s linear ;
    transform: translateX(0);
}

img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
