*{
    box-sizing: border-box;
}

body{
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: poppins,sans-serif;
    margin: 0;
    min-height: 100vh;
}

.quiz-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100,100,100,0.1);
    width: 600px;
    max-width: 100%;
    overflow: hidden;
}

h2{
    margin: 0;
}

ul li{
    margin: 1rem 0;
    font-size: 1.1rem;
}

.quiz-header{
    padding: 4rem;
}

ul{
    list-style-type: none;
    padding: 0;
}

button{
    background-color: #8e44ad;
    display: block;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%;
    padding: 1.5rem;
    color: white;
    font-family: sans-serif;
}

button:hover{
    background-color: #732d91;
}